:root {
  --blue: #189fff;
  --deckgo-highlight-code-font-family: Menlo, Monaco, Consolas;
}

@font-face {
  font-family: 'Chinese';
  src: url('../../fonts/NotoSerifSC-Light.otf');
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 1.75rem;
}

body {
  font-weight: 400;
  font-family: chinese;
  color: #333;
  word-wrap: break-word;
  font-kerning: normal;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2rem;
}

header > .route-link {
  margin: 0 1rem 0 1rem;
}

header img {
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.base-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 44rem;
  padding: 2.625rem 1.3125rem;
  min-height: 100%;
}

.nav-link {
  font-size: 2rem;
  margin: 0 1rem 0 1rem;
  cursor: pointer;
  min-width: 3rem;
}

.nav-link > img {
  height: 2rem;
  border-radius: 50%;
  transform: scale(1.2);
}

.nav-link:hover {
  color: var(--blue);
}

.link-active {
  color: var(--blue);
}

.invisible {
  display: none !important;
}

.article-body .article-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.article-meta {
  text-align: center;
  margin: 1rem auto 1.5rem auto;
  font-size: 0.9rem;
  font-family: serif;
  font-weight: bold;
}

.article-meta > span {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #fafafa;
}

.article-body h1 {
  margin-bottom: 1.8rem;
  margin-top: 1.8rem;
}

.article-body h2 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.article-body h3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.article-body h4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.article-body h1:first-child {
  border-radius: 0.5rem;
}

.article-body h1:not(:first-child)::before {
  background: var(--blue);
  content: '';
  display: block;
  height: 2px;
  width: 70px;
  margin-bottom: 0.5rem;
}

.article-body h2::before {
  background: var(--blue);
  content: '';
  display: block;
  height: 2px;
  width: 70px;
  margin-bottom: 0.3rem;
}

.article-body h3::before {
  background: var(--blue);
  content: '';
  display: block;
  height: 2px;
  width: 70px;
  margin-top: 0.1rem;
}

.article-body code {
  font-family: Menlo, Monaco, Consolas, monospace;
  font-size: 15px;
  border: 1px solid #eee;
  padding: 0 8px 0 8px;
  border-radius: 4px;
  color: #333;
  background-color: #fafafa;
}

.article-body blockquote {
  border: 1px solid #efefef;
  padding: 0 1rem 0 1rem;
  border-radius: 0 0.5rem 0.5rem 0;
  border-left: 1px solid var(--blue);
}

.article-body .article-cover {
  width: 80%;
  min-width: 348px;
  object-fit: cover;
  border-radius: 6px;
  display: block;
  margin: 0 auto 0 auto;
  border: 1px solid #eee;
}

.article-body ul li {
  list-style-type: disc;
  margin-left: 2rem;
}

deckgo-highlight-code {
  box-shadow: none !important;
  font-size: 14px;
  border: 1px solid #efefef;
  border-radius: 6px;
}
