:root {
  --deckgo-highlight-code-font-family: source-code-pro, Menlo, Monaco, Consolas,
    Courier New, monospace;
}

@media (prefers-color-scheme: dark) {
  body {
    --blue: #02bbff;
    --background-color: hsl(0deg 0% 8%);
    --background-color-transparent: rgba(0, 0, 0, 0.9);
    --font-color: #dedede;
    --font-color-header: #fff;
    --font-color-highlight: #efefef;
    --btn-color: #333;
    --card-background-color: #222;
    --quote-background-color: #242424;
    --font-color-quote: #bdcbdc;
    --card-background-border-color: #2a2a2a;
    --card-box-shadow: #333;
    --code-font-color: #c678dd;
    --code-background-color: rgba(0, 0, 0, 0.1);
    --code-border-color: rgba(0, 0, 0, 0.02);
    --code-block-background: hsl(0deg 0% 11%);
    --navigator-hover-color: rgba(255, 255, 255, 0.1);
    --navigator-border-color: #222;
    --table-border-color: #303030;
  }
}

@media (prefers-color-scheme: light) {
  body {
    --blue: #02bbff;
    --background-color: #fff;
    --background-color-transparent: rgba(255, 255, 255, 0.9);
    --font-color: #000;
    --font-color-header: #3c4043;
    --btn-color: #fff;
    --card-background-color: #efefef;
    --card-background-border-color: #efefef;
    --quote-background-color: #eaf8ff;
    --font-color-highlight: #000;
    --font-color-quote: #555;
    --card-box-shadow: rgba(0, 0, 0, 0.1);
    --code-font-color: #444;
    --code-background-color: rgba(255, 229, 100, 0.2);
    --code-border-color: rgba(255, 229, 100, 0.2);
    --code-block-background: #313131;
    --navigator-hover-color: rgba(0, 0, 0, 0.08);
    --navigator-border-color: #eee;
    --table-border-color: #ededed;
  }
}

.dark {
  --blue: #02bbff;
  --background-color: hsl(0deg 0% 8%);
  --background-color-transparent: rgba(0, 0, 0, 0.9);
  --font-color: #dedede;
  --font-color-header: #fff;
  --font-color-highlight: #efefef;
  --btn-color: #333;
  --card-background-color: #222;
  --quote-background-color: #242424;
  --font-color-quote: #bdcbdc;
  --card-background-border-color: #2a2a2a;
  --card-box-shadow: #333;
  --code-font-color: #c678dd;
  --code-background-color: rgba(0, 0, 0, 0.1);
  --code-border-color: rgba(0, 0, 0, 0.02);
  --code-block-background: hsl(0deg 0% 11%);
  --navigator-hover-color: rgba(255, 255, 255, 0.1);
  --navigator-border-color: #222;
  --table-border-color: #303030;
}

.light {
  --blue: #02bbff;
  --background-color: #fff;
  --background-color-transparent: rgba(255, 255, 255, 0.9);
  --font-color: #000;
  --font-color-header: #3c4043;
  --btn-color: #fff;
  --card-background-color: #efefef;
  --card-background-border-color: #efefef;
  --quote-background-color: #eaf8ff;
  --font-color-highlight: #000;
  --font-color-quote: #555;
  --card-box-shadow: rgba(0, 0, 0, 0.1);
  --code-font-color: #444;
  --code-background-color: rgba(255, 229, 100, 0.2);
  --code-border-color: rgba(255, 229, 100, 0.2);
  --code-block-background: #313131;
  --navigator-hover-color: rgba(0, 0, 0, 0.08);
  --navigator-border-color: #ddd;
  --table-border-color: #ededed;
}

html,
body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: Lato, Georgia, serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ol {
  margin: 0.7rem 0 0.7rem 0;
}

ol li {
  list-style-type: decimal;
  margin: 0.6rem 0 0.6rem 2rem;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 0.7rem;
  line-height: 1.8;
  margin-top: 0.7rem;
}

*::selection {
  background-color: var(--blue);
  color: #fff;
}

body {
  font-kerning: normal;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 0;
}

header > .route-link {
  margin: 0 1rem 0 1rem;
}

.layout {
  display: flex;
  flex-direction: row;
}

.base-wrapper {
  min-width: 350px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 1080px;
  padding: 2.625rem 1.3125rem;
  min-height: 100%;
  padding-bottom: 8rem;
}

.article-body .article-title {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.article-body strong {
  color: var(--font-color-highlight);
}

.article-meta {
  text-align: center;
  margin: 1rem auto 1rem auto;
  margin-bottom: 3rem !important;
  font-size: 0.9rem;
}

.article-meta > span {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--card-background-color);
  font-weight: lighter;
}

.article-body h1,
h2,
h3 {
  cursor: pointer;
}

.article-body p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.article-body h1 {
  color: var(--font-color-header);
  margin-bottom: 1.8rem;
  margin-top: 3.5rem;
  font-weight: bold;
  font-size: 2rem;
}

.article-body h1 code {
  font-size: 2rem;
}

.article-body h2 {
  color: var(--font-color-header);
  margin-bottom: 1rem;
  margin-top: 2.5rem;
  font-weight: bold;
  font-size: 1.6rem;
}

.article-body h2 code {
  font-size: 1.5rem;
}

.article-body h3 {
  color: var(--font-color-header);
  margin-top: 1.8rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.8;
}

.article-body h3 code {
  font-size: 1.2rem;
  font-weight: bold;
}

.article-body h4 {
  color: var(--font-color-header);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.article-body h4 code {
  font-size: 1rem;
}

.article-body h1:first-child {
  border-radius: 0.5rem;
}

.article-body h1:not(:first-child)::before {
  background: var(--blue);
  content: '';
  display: block;
  height: 2px;
  width: 70px;
  margin-bottom: 0.5rem;
}

.article-body h2::before {
  background: var(--blue);
  content: '';
  display: block;
  height: 2px;
  width: 70px;
  margin-bottom: 0.3rem;
}

.article-body code {
  font-family: Menlo, Monaco, Consolas, monospace;
  font-size: 15px;
  border: 1px solid var(--code-border-color);
  padding: 1px 4px 1px 4px;
  margin: 0 2px 0 2px;
  border-radius: 4px;
  color: var(--code-font-color);
  background-color: var(--code-background-color);
}

.article-body blockquote {
  padding: 1rem;
  border-radius: 0 0.5rem 0.5rem 0;
  border-left: 2px solid var(--blue);
  margin-top: 1rem;
  background-color: var(--quote-background-color);
  color: var(--font-color-quote);
}

.article-body blockquote code {
  color: var(--code-font-color);
}

.article-body .article-cover {
  width: 80%;
  min-width: 330px;
  object-fit: cover;
  border-radius: 16px;
  display: block;
  margin: 18px auto 20px auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.article-body img {
  width: 85%;
  min-width: 330px;
  object-fit: cover;
  border-radius: 12px;
  display: block;
  margin: 18px auto 18px auto;
}

.article-body ul {
  margin: 0.7rem 0 0.7rem 0;
}

.article-body ul li {
  list-style-type: disc;
  margin: 0.6rem 0 0.6rem 2rem;
}

.article-body a {
  color: #189fff;
}

a:hover {
  text-decoration: underline;
}

.article-body a::after {
  content: url('../../images/link.svg');
  padding-left: 2px;
}

.article-body table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap: normal;
}

th {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.06);
}

td {
  background-color: rgba(255, 255, 255, 0.01);
  font-weight: 300;
}

table,
th,
td {
  padding: 0.5rem;
  border: 1px solid var(--table-border-color);
  overflow: auto;
}

.theme-changer {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
  border-radius: 50%;
}

.theme-changer img {
  padding: 6px;
  width: 30px;
  height: 30px;
  background-color: var(--background-color);
  border: 1px solid var(--card-background-border-color);
  border-radius: 50%;
}

.iframe-wrapper {
  overflow: hidden;
  width: 100%;
  height: auto;
  padding: 0;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.iframe-wrapper .loader {
  user-select: none;
  font-size: 2.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

deckgo-highlight-code {
  box-shadow: none !important;
  font-size: 14px;
  background-color: var(--code-block-background);
  border-radius: 0.5rem;
  position: relative;
  user-select: none;
  margin-top: 1rem;
  cursor: pointer;
}

@media (min-width: 900px) {
  deckgo-highlight-code::after {
    content: '双击复制';
    opacity: 0;
    font-size: 11px;
    position: absolute;
    text-align: center;
    height: 2rem;
    width: 4rem;
    right: 1rem;
    top: 1rem;
    transition: 400ms;
  }

  deckgo-highlight-code:hover::after {
    opacity: 1;
  }
}

@media (max-width: 1100px) {
  .base-wrapper[name='article-wrapper'] {
    margin-left: 0;
    width: 75%;
    padding-left: 0;
    padding-right: 0;
  }

  .base-wrapper {
    width: 80%;
    padding-bottom: 8rem !important;
  }

  .article-body h1,
  .article-body h2,
  .article-body h3,
  .article-body p {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
  }

  .article-body li {
    padding-right: 0.8rem;
  }

  .article-body img,
  deckgo-highlight-code,
  .iframe-wrapper,
  blockquote {
    border-radius: 0 !important;
  }

  .article-body img {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .base-wrapper[name='article-wrapper'] {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 2.625rem 0rem;
    min-height: 100%;
  }

  .base-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    width: 100%;
    padding: 2.625rem 1rem;
    min-height: 100%;
    padding-bottom: 8rem !important;
  }
}
