:root {
  --deckgo-highlight-code-font-family: Menlo, Monaco, Consolas;
}

@media (prefers-color-scheme: dark) {
  body {
    --blue: #02bbff;
    --background-color: #202124;
    --background-color-transparent: rgba(0, 0, 0, 0.9);
    --font-color: #bdc1c6;
    --font-color-header: #eaeaea;
    --font-color-highlight: #efefef;
    --btn-color: #333;
    --card-background-color: #222;
    --quote-background-color: #242424;
    --font-color-quote: #bdcbdc;
    --card-background-border-color: #2a2a2a;
    --card-box-shadow: #333;
    --code-font-color: #e0e0e0;
    --code-background-color: rgba(100, 100, 100, 0.2);
    --code-border-color: rgba(100, 100, 100, 0.2);
    --code-block-background: rgba(0, 0, 0, 0.1);
    --navigator-hover-color: rgba(255, 255, 255, 0.1);
    --navigator-border-color: #222;
  }
}

@media (prefers-color-scheme: light) {
  body {
    --blue: #02bbff;
    --background-color: #fff;
    --background-color-transparent: rgba(255, 255, 255, 0.9);
    --font-color: #3c4043;
    --font-color-header: #3c4043;
    --btn-color: #fff;
    --card-background-color: #efefef;
    --card-background-border-color: #efefef;
    --quote-background-color: #eaf8ff;
    --font-color-highlight: #000;
    --font-color-quote: #4e7182;
    --card-box-shadow: rgba(0, 0, 0, 0.1);
    --code-font-color: #444;
    --code-background-color: rgba(255, 229, 100, 0.2);
    --code-border-color: rgba(255, 229, 100, 0.2);
    --code-block-background: #313131;
    --navigator-hover-color: rgba(0, 0, 0, 0.08);
    --navigator-border-color: #ddd;
  }
}

.dark {
  --blue: #02bbff;
  --background-color: #202124;
  --background-color-transparent: rgba(0, 0, 0, 0.9);
  --font-color: #bdc1c6;
  --font-color-header: #eaeaea;
  --font-color-highlight: #efefef;
  --btn-color: #333;
  --card-background-color: #222;
  --quote-background-color: #242424;
  --font-color-quote: #bdcbdc;
  --card-background-border-color: #2a2a2a;
  --card-box-shadow: #333;
  --code-font-color: #e0e0e0;
  --code-background-color: rgba(100, 100, 100, 0.2);
  --code-border-color: rgba(100, 100, 100, 0.2);
  --code-block-background: rgba(0, 0, 0, 0.1);
  --navigator-hover-color: rgba(255, 255, 255, 0.1);
  --navigator-border-color: #222;
}

.light {
  --blue: #02bbff;
  --background-color: #fff;
  --background-color-transparent: rgba(255, 255, 255, 0.9);
  --font-color: #3c4043;
  --font-color-header: #3c4043;
  --btn-color: #fff;
  --card-background-color: #efefef;
  --card-background-border-color: #efefef;
  --quote-background-color: #eaf8ff;
  --font-color-highlight: #000;
  --font-color-quote: #4e7182;
  --card-box-shadow: rgba(0, 0, 0, 0.1);
  --code-font-color: #444;
  --code-background-color: rgba(255, 229, 100, 0.2);
  --code-border-color: rgba(255, 229, 100, 0.2);
  --code-block-background: #313131;
  --navigator-hover-color: rgba(0, 0, 0, 0.08);
  --navigator-border-color: #ddd;
}

html,
body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ol {
  margin: 0.7rem 0 0.7rem 0;
}

ol li {
  list-style-type: decimal;
  margin: 0.4rem 0 0.4rem 2rem;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 0.7rem;
  line-height: 1.7rem;
  margin-top: 0.7rem;
}

*::selection {
  background-color: var(--blue);
  color: #fff;
}

body {
  font-kerning: normal;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2rem;
}

header > .route-link {
  margin: 0 1rem 0 1rem;
}

header img {
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.base-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;
  padding: 2.625rem 1.3125rem;
  min-height: 100%;
}

.nav-link {
  font-size: 2rem;
  margin: 0 1rem 0 1rem;
  cursor: pointer;
  min-width: 3rem;
}

.nav-link > img {
  height: 2rem;
  border-radius: 50%;
  transform: scale(1.2);
}

.nav-link:hover {
  color: var(--blue);
}

.link-active {
  color: var(--blue);
}

.article-body .article-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.article-body strong {
  color: var(--font-color-highlight);
}

.article-meta {
  text-align: center;
  margin: 1rem auto 1.5rem auto;
  font-size: 0.9rem;
}

.article-meta > span {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--card-background-color);
  font-weight: lighter;
}

.article-body h1,
h2,
h3 {
  cursor: pointer;
}

.article-body h1 {
  color: var(--font-color-header);
  margin-bottom: 1.8rem;
  margin-top: 1.8rem;
  font-weight: 400;
  font-size: 2rem;
}

.article-body h1 code {
  font-size: 1.6rem;
}

.article-body h2 {
  color: var(--font-color-header);
  margin-bottom: 1.5rem;
  margin-bottom: 1.6rem;
  margin-top: 1.5rem;
  font-weight: 400;
}

.article-body h2 code {
  font-size: 1.2rem;
}

.article-body h3 {
  color: var(--font-color-header);
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.8;
}

.article-body h3 code {
  font-size: 1.1rem;
}

.article-body h4 {
  color: var(--font-color-header);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

.article-body h4 code {
  font-size: 1rem;
}

.article-body h1:first-child {
  border-radius: 0.5rem;
}

.article-body h1:not(:first-child)::before {
  background: var(--blue);
  content: '';
  display: block;
  height: 2px;
  width: 70px;
  margin-bottom: 0.5rem;
}

.article-body h2::before {
  background: var(--blue);
  content: '';
  display: block;
  height: 2px;
  width: 70px;
  margin-bottom: 0.3rem;
}

.article-body h3::before {
  background: var(--blue);
  content: '';
  display: block;
  height: 1.5px;
  width: 54px;
  margin-top: 0.1rem;
}

.article-body code {
  font-family: Menlo, Monaco, Consolas, monospace;
  font-size: 14px;
  border: 1px solid var(--code-border-color);
  padding: 1px 4px 1px 4px;
  margin: 0 2px 0 2px;
  border-radius: 4px;
  color: var(--code-font-color);
  background-color: var(--code-background-color);
}

.article-body blockquote {
  padding: 1rem;
  border-radius: 0 0.5rem 0.5rem 0;
  border-left: 2px solid var(--blue);
  margin-top: 1rem;
  background-color: var(--quote-background-color);
  color: var(--font-color-quote);
}

.article-body blockquote code {
  color: var(--font-color-highlight);
}

.article-body .article-cover {
  width: 80%;
  min-width: 330px;
  object-fit: cover;
  border-radius: 16px;
  display: block;
  margin: 0 auto 0 auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.article-body img {
  width: 100%;
  min-width: 330px;
  object-fit: cover;
  border-radius: 12px;
  display: block;
  margin: 0 auto 0 auto;
}

.article-body ul {
  margin: 0.7rem 0 0.7rem 0;
}

.article-body ul li {
  list-style-type: disc;
  margin: 0.4rem 0 0.4rem 2rem;
}

.article-body a {
  color: #189fff;
}

a:hover {
  text-decoration: underline;
}

.article-body a::after {
  content: url('../../images/link.svg');
  padding-left: 2px;
}

.article-body table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap: normal;
}

th {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.06);
}

td {
  background-color: rgba(255, 255, 255, 0.01);
  font-weight: 300;
}

table,
th,
td {
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.theme-changer {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
  border-radius: 50%;
}

.theme-changer img {
  padding: 6px;
  width: 30px;
  height: 30px;
  background-color: var(--background-color);
  border: 1px solid var(--card-background-border-color);
  border-radius: 50%;
}

deckgo-highlight-code {
  box-shadow: none !important;
  font-size: 14px;
  background-color: var(--code-block-background);
  border-radius: 0.5rem;
  position: relative;
  user-select: none;
  margin-top: 1rem;
  cursor: pointer;
}

@media (min-width: 500px) {
  deckgo-highlight-code::after {
    content: '双击复制';
    opacity: 0;
    font-size: 12px;
    position: absolute;
    text-align: center;
    height: 2rem;
    width: 3rem;
    right: 1rem;
    top: 1rem;
    transition: 400ms;
  }

  deckgo-highlight-code:hover::after {
    opacity: 1;
  }
}
