.table-of-content {
  height: 100vh;
  width: 20%;
  user-select: none;
  background-color: var(--background-color);
  position: sticky;
  top: 0;
}

.table-of-content-main {
  padding: 2.5rem 1.2rem 3rem 1.2rem;
  height: 100%;
  overflow-y: auto;
}

.table-of-content-main::-webkit-scrollbar {
  width: 0;
}

.table-of-content-switch {
  display: none;
  user-select: none;
}

.table-of-content-visible {
  transform: translateX(0) !important;
}

@media (max-width: 1100px) {
  .table-of-content {
    width: 25%;
  }
}

@media (max-width: 750px) {
  .table-of-content {
    transition: 300ms;
    right: 0;
    z-index: 11;
    height: 100%;
    width: calc(100% - 80px);
    max-width: 400px;
    background-color: var(--background-color-transparent);
    backdrop-filter: blur(10px);
    border: none;
    position: fixed;
    transform: translateX(100%);
    padding: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }

  p.header-level-h1:first-child {
    transform: translateX(0);
    padding-left: 14px !important;
  }

  .table-of-content-main {
    padding: 2rem 0 2rem 0;
  }

  .table-of-content h4 {
    margin-top: 1rem !important;
    font-size: 1.2rem !important;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .table-of-content p {
    transition: background 300ms;
    font-size: 1rem !important;
    margin-top: 0 !important;
    line-height: 2.8rem !important;
    border-bottom: 1px solid var(--navigator-border-color);
    padding-right: 2rem !important;
  }

  .table-of-content p.header-level-h1 {
    font-weight: 500;
    padding-left: 2rem;
    margin-top: 0.8rem;
  }

  .table-of-content p.header-level-h2 {
    padding-left: 3rem;
    margin-top: 0.4rem;
    font-size: 15px;
  }

  .table-of-content .header-level-h3 {
    font-size: 15px;
    margin-top: 0.2rem;
    padding-left: 4rem;
  }

  .table-of-content p:hover {
    background: var(--navigator-hover-color);
  }

  .table-of-content-switch {
    position: fixed;
    right: 0.5rem;
    z-index: 8;
    top: 4.5rem;
    background-color: blue;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 0.8rem;
    text-align: center;
    cursor: pointer;
    color: var(--font-color);
    background-color: var(--background-color);
    border: 1px solid var(--card-background-border-color);
    display: block;
  }
}

.table-of-content p {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  overflow-x: hidden;
  cursor: pointer;
}

.table-of-content .topHeader {
  color: var(--blue) !important;
}

.table-of-content p:hover {
  color: var(--blue);
}

p.header-level-h1:first-child {
  transform: translateX(-8px);
  padding-left: 4px;
  border-left: 2px solid var(--blue);
}

p.header-level-h1 {
  font-weight: 500;
  margin-top: 0.8rem;
  font-size: 15px;
}

p.header-level-h2 {
  padding-left: 1rem;
  margin-top: 0.4rem;
  font-size: 14px;
}

p.header-level-h3 {
  font-size: 14px;
  margin-top: 0.2rem;
  padding-left: 2rem;
  font-weight: 300;
}
