.modal-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.modal-content {
  position: relative;
  background: var(--card-background-color);
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid var(--card-background-border-color);
  width: 40rem;
  min-height: 50vh;
  max-height: 100vh;
}

.modal-closer {
  position: absolute;
  right: 0.8rem;
  top: 0.8rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.modal-closer:hover {
  color: var(--blue);
}
