.post-card-img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%) rotate(-8deg);
  transition: 200ms;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.img-line {
  height: 120px;
  position: relative;
  margin-bottom: 2rem;
}

.post-card {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid var(--card-background-border-color);
  margin-top: 140px;
  transition: 200ms;
  cursor: pointer;
}

.post-card:hover {
  box-shadow: 0 0 1rem var(--card-box-shadow);
}

.post-card:active {
  box-shadow: 0 0 1.5rem var(--blue);
}

.post-card:hover .post-card-img {
  transform: translate(-50%) rotate(0deg);
}

.post-card h2::after {
  background: var(--blue);
  content: '';
  display: block;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 60px;
}

.post-card-meta {
  margin: 0;
  font-weight: 300;
  font-size: 0.9rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: var(--card-background-color);
  border: 1px solid var(--card-background-border-color);
}
