.post-card-img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: var(--background-color);
  transform: translate(-50%) rotate(-8deg);
  transition: 200ms;
  border-radius: 12px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

.img-line {
  height: 120px;
  position: relative;
  margin-bottom: 2rem;
}

.post-card {
  padding: 1.5rem 2rem 1.5rem 2rem;
  display: flex;
  max-width: 45rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  border: 1px solid var(--card-background-border-color);
  margin: 140px auto 0 auto;
  transition: 200ms;
  cursor: pointer;
  position: relative;
}

.post-card:hover {
  box-shadow: 0 0 1rem var(--card-box-shadow);
}

.post-card:active {
  box-shadow: 0 0 1.5rem var(--blue);
}

.post-card:hover .post-card-img {
  transform: translate(-50%) rotate(0deg);
}

.post-card h2::after {
  background: var(--blue);
  content: '';
  display: block;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 60px;
}

.post-card-meta {
  margin: 0;
  font-weight: 300;
  font-size: 0.9rem;
  padding: 5px 10px;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: var(--card-background-color);
  border: 1px solid var(--card-background-border-color);
}

@media (max-width: 500px) {
  .post-card {
    padding: 1.5rem 0.8rem 1.5rem 0.8rem;
  }
}
