.navbar {
  background-color: hsl(0deg 0% 13%);
  height: 64px;
  padding: 12px 0;
  width: 100%;
  user-select: none;
  min-width: 350px;
  font-family: var(--font-sans-serif);
  font-weight: 100;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.navbar nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-width: 375px;
  width: 64%;
  max-width: 1080px;
}

.nav-link .img-label {
  font-size: 15px;
  padding-left: 2px;
  min-width: 54px;
}

@media (max-width: 750px) {
  .navbar {
    position: absolute;
    z-index: 10;
  }

  .nav-link .img-label {
    display: none;
  }
}

.nav-link {
  font-size: 2.2rem;
  transition: 200ms;
  color: #fff;
  margin: 0 1rem 0 1rem;
  cursor: pointer;
  min-width: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-link > img {
  height: 2rem;
  display: inline-block;
  border-radius: 50%;
}

.nav-link:hover {
  color: var(--blue);
  text-decoration: none;
}

.nav-link-gold:hover {
  color: gold !important;
  text-decoration: none;
}

.nav-link .link-label {
  text-align: center;
  font-size: 16px;
  display: block;
  width: 8rem;
}

.link-active {
  color: var(--blue);
}

.link-active-gold {
  color: gold;
}

.game .question {
  margin: 1.5rem 0;
}

.game .question input {
  outline: none;
  appearance: none;
  display: inline-block;
  max-width: 120px;
  border: none;
  border-bottom: 1px solid var(--font-color);
  color: var(--font-color);
  padding: 1px 8px;
  font-weight: bold;
  background: none;
}

.game .question button {
  padding: 2px 6px;
  font-size: 12px;
  background: var(--card-background-color);
  color: var(--font-color);
  border-radius: 4px;
  margin-left: 8px;
  cursor: pointer;
}

.game img {
  overflow: hidden;
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: 0;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.lamp {
  --lamp-lightness: 60%;
  --lamp-color: hsl(0deg 0% var(--lamp-lightness));
  width: 45px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  transform: scale(0.711);
  transform-style: preserve-3d;
  cursor: pointer;
  --outline-offset: var(--sp--3);
  --outline-color: white;
}

.lamp > * {
  display: block;
}

.lamp-base {
  position: absolute;
  bottom: 0;
  right: 5px;
  width: 30px;
  height: 7px;
  background-color: var(--lamp-color);
  border-radius: 4px 4px 0 0;
  transform-style: preserve-3d;
  box-shadow: inset 0 0.5px 2px rgb(0 0 0 / 60%);
}

.lamp-base-down::after {
  height: 0 !important;
}

.lamp-base::after {
  content: '';
  position: absolute;
  transform: translateZ(-1px);
  width: 6px;
  height: 6px;
  top: -2px;
  left: 4px;
  border-radius: 1px 1px 0 0;
  background-color: #fff;
}

.lamp-neck {
  width: 4px;
  height: 20px;
  background-color: var(--lamp-color);
  position: absolute;
  transform: translateZ(-1px) rotate(20deg);
  right: 8px;
  bottom: 5px;
}

.lamp-neck::after {
  content: '';
  background-color: var(--lamp-color);
  width: 4px;
  height: 20px;
  position: absolute;
  transform: rotate(-60deg);
  left: -8px;
  top: -14px;
}

.lamp-head {
  --lamp-color-light: hsl(0deg 0% calc(var(--lamp-lightness) - 5%));
  width: 20px;
  height: 10px;
  background-image: linear-gradient(
    to bottom,
    var(--lamp-color-light) 5%,
    var(--lamp-color) 90%,
    var(--lamp-color-light) 5%
  );
  border-radius: 100px 100px 0 0;
  transform: rotate(45deg);
  position: absolute;
  left: 10px;
  top: 4px;
  transform-style: preserve-3d;
  box-shadow: 0 4px 4px -2px #e6e6e6;
}

.lamp-head::before {
  content: '';
  display: block;
  position: absolute;
  width: 6px px;
  height: 6px;
  background-color: var(--lamp-color);
  border-radius: 50%;
  right: 6px;
  top: -4px;
  transform: translateZ(-1px);
}

.lamp-head::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 40px;
  background: var(--lamp-head-background);
  clip-path: polygon(30% 0, 70% 0, 100% 100%, 0 100%);
  transform: translateZ(-1px);
  right: 0;
  top: 10px;
}
