.footer {
  font-family: Lato, Georgia, serif;
  min-width: 350px;
  user-select: none;
  color: #efefef;
  height: 184px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 15px;
  background-color: hsl(0deg 0% 13%);
}

.footer .wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}

.footer .wrapper div {
  margin: 0 8px;
}

.footer h3 {
  font-size: 1.6rem;
  width: 100%;
  margin-top: 8px;
  font-weight: lighter;
}

.footer p {
  padding: 0.5rem 0 0.5rem 0;
  line-height: 1.2rem;
  margin: 0;
  text-align: center;
}

.footer span {
  margin-right: 12px;
  cursor: pointer;
  font-size: 1.6rem;
}

.wrapper li {
  padding: 4px 0 4px 0;
}

.footer span:hover {
  color: var(--blue);
}

@media (max-width: 750px) {
  .footer .wrapper {
    flex-direction: column !important;
  }

  .footer .wrapper {
    width: 100%;
    margin-bottom: 1rem;
  }
}
