.article-navigator {
  user-select: none;
  width: 20%;
  height: 100vh;
  position: sticky;
  top: 0;
  border-right: 1px solid var(--card-background-border-color);
  background-color: var(--background-color);
  overflow-y: auto;
  padding: 2.5rem 1.2rem 2.5rem 2rem;
}

.article-navigator::-webkit-scrollbar {
  width: 0;
}

.article-navigator-visible {
  transform: translateX(0) !important;
}

@media (max-width: 1100px) {
  .article-navigator {
    position: fixed;
    transition: 300ms;
    z-index: 10;
    left: 0;
    left: auto !important;
    height: 100%;
    width: calc(100% - 80px);
    max-width: 400px;
    background-color: var(--background-color-transparent);
    backdrop-filter: blur(10px);
    transform: translateX(-100%);
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    padding: 0;
  }

  .article-navigator h4 {
    margin-top: 1rem !important;
    font-size: 1.2rem !important;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .article-navigator p {
    transition: background 300ms;
    font-size: 1rem !important;
    line-height: 2.8rem !important;
    border-bottom: 1px solid var(--navigator-border-color);
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .article-navigator p:hover {
    background: var(--navigator-hover-color);
  }

  .article-navigator-switch {
    visibility: visible !important;
  }
}

.article-navigator h4 {
  font-size: 15px;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.article-navigator h4:first-child {
  margin-top: 0;
}

.article-navigator-switch {
  position: fixed;
  z-index: 9;
  left: 0.5rem;
  top: 4.5rem;
  width: 30px;
  height: 30px;
  line-height: 29px;
  border-radius: 50%;
  font-size: 0.8rem;
  text-align: center;
  cursor: pointer;
  color: var(--font-color);
  background-color: var(--background-color);
  border: 1px solid var(--card-background-border-color);
  visibility: hidden;
}

.article-navigator p {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  overflow-x: hidden;
  cursor: pointer;
  font-size: 14px;
  margin: 0;
  padding-left: 0.5rem;
}

.article-navigator p:hover {
  color: var(--blue);
}

.highlighted-navigator-item {
  color: var(--blue);
}
